<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.8.0" targetFramework="net472" />
  <package id="Quamotion.DiscUtils.Core" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Streams" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Vhd" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Vhdx" version="0.15.4" targetFramework="net48" />
</packages>